{% extends "base.html" %}
{% load static %}

{% block title %}Statistiques de Fréquence{% endblock %}

{% block content %}
    {% if Question %}
        <h1>Fréquence des Réponses</h1>

        <h3>{{ Question.question_text }}</h3>

        <ul>
            {% for choice in Question.get_choices %}
                <li>
                    Réponse : {{ choice.0 }} / Nombre de fois répondu : {{ choice.1 }} / Pourcentage : {{ choice.2 }} %
                </li>
            {% endfor %}
        </ul>
        <div class=" btn ">
            <a class="btn" href="{% url 'polls:index' %}">Retour à l'index</a>
        </div>


    {% else %}
        <p>Aucune donnée de fréquence disponible.</p>
    {% endif %}
    <link rel="stylesheet" href="{% static 'polls/stats.css' %}">
{% endblock %}
