{% extends "base.html" %}
{% load static %}

{% block title %}Statistiques des Sondages{% endblock %}

{% block content %}
    {% if Question %}
        <h2>Liste des sondages</h2>
        <ul>
            {% for question in Question %}
                <li>{{ question }}</li>
            {% endfor %}
        </ul>

        <h2>Choix possibles pour toutes les questions au total :</h2>
        <ul>
            <li><p>{{ total_choices }} choix sont possibles toutes questions réunies.</p></li>
        </ul>

        <h2>Nombre total de votes :</h2>
        <ul>
            <li><p>{{ total_votes }} votes ont été effectués.</p></li>
        </ul>
        <div class=" btn ">
            <a href="{% url 'polls:index' %}">Retour a l'index</a>
        </div>

    {% else %}
        <p>Aucun sondage disponible.</p>
    {% endif %}
    <link rel="stylesheet" href="{% static 'polls/stats.css' %}">
{% endblock %}


