a {
    color: Pink;
    font-size : 22px;
}

body {
    background: white url("images/background.jpg") no-repeat center center fixed;
    background-size: cover ;
}

.btn a {
    color : Red;
}

.btnDecoReco{
    display : flex;
    right : 10px
}

.header{
    margin : 20px;
    display : flex;
    justify-content : space-between;
}

.btnadmin{
    margin-left : 10px
}

.nameuser{
    color : white;
}