<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <title>{% block title %}Mon Site{% endblock %}</title>
</head>
<body>
    <header class="header">
        <h1>My Site Test Django</h1>
        {{username}}
        <div class="btnDecoReco">
            {% if user.is_authenticated %}
                <div class="btnadmin">
                    <div class="nameuser"> bonjour : {{user.username}} !</div>
                    <a href="{% url 'logout' %}"> ✅ DéConnection ==> 🔴</a>
                </div>
            {% else %}
                <div class="btnadmin">
                    <div class="nameuser"> bonjour !  </div>
                    <a href="{% url 'login' %}"> 🔴 Connection ==> ✅ </a>
                </div>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}
        <p>Contenu principal</p>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mon Site. Tous droits réservés a moi meme.</p>
    </footer>
</body>
</html>
